.subtitle {
    font-size: 20px;
    font-weight: normal;
    background-color: #C4C4C4;
    margin: 0;
    padding: 5px 30px;
    user-select: none;
}

@media screen {
    .page-subheader {
        margin: 30px 70px 20px;/*Первое - от верхнего, второе - от левого и правого, третье - от нижнего*/
    }
}
@media screen and (max-width: 600px) {
    .page-subheader {
        margin: 30px 40px 20px;/*Первое - от верхнего, второе - от левого и правого, третье - от нижнего*/
    }
}