.title {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.page-header {
    padding: 10px 50px; /*Первое - от верхнего и нижнего, второе - от левого и правого*/
    background-color: #e47a2ecc;
}