<div class="radiogroup">
    <div class="radiogroup__item">
        <input type="radio" name="answer" value="a1" class="radio-btn"/>
        <p class="radio-text">Офицерский состав</p>
    </div>
    <div class="radiogroup__item">
        <input type="radio" name="answer" value="a2" class="radio-btn"/>
        <p class="radio-text">Операционная система</p>
    </div>
    <div class="radiogroup__item">
        <input type="radio" name="answer" value="a3" class="radio-btn"/>
        <p class="radio-text">Большой полосатый мух</p>
    </div>
</div>