<div class="radiogroup">
    {{#each @data as |item|}}
        <div class="radiogroup__item">
            <input 
                type="radio"
                name="answer"
                value="a{{item.id}}"
                class="radio-btn"
                {{on 'input' (fn @onChangeChoise item.text)}}
            />
            <p class="radio-text">{{item.text}}</p>
        </div>
    {{/each}}
</div>