{{page-title "Answer"}}

<CustomTitle>Страница ответа</CustomTitle>
<CustomSubtitle>Ваш ответ - "{{this.questway.answerObject}}"</CustomSubtitle>
<ContentContainer>
    <p>Не желаете-ли повторить?</p>
    <CustomButton @action={{fn this.newQuestionnaires}}>Начать</CustomButton>
</ContentContainer>