<CustomTitle>Стартовая страница</CustomTitle>
<CustomSubtitle>Добро пожаловать в QuestProg!</CustomSubtitle>

<ContentContainer>
    <p>Какой опросник вы хотели-бы выбрать?</p>
    <CustomButton>Следующий</CustomButton>

    <LinkTo @route="questionnaires_list">вперед</LinkTo>
</ContentContainer>
