<CustomTitle>Стартовая страница</CustomTitle>
<CustomSubtitle>Добро пожаловать в QuestProg!</CustomSubtitle>

<ContentContainer>
    <p>Какой опросник вы хотели-бы выбрать?</p>
    <RadioList
        @data={{this.model}}
        @onChangeChoise={{this.onChangeChoise}}/>
    <CustomButton>Следующий</CustomButton>
    <LinkTo @route="questionnaires_list">вперед</LinkTo>
</ContentContainer>
